
.table-container{
    margin: 60px;
}

.rowheader {
    font-weight: bold;
}

.row {
    display: flex;

}

.row > div {
    flex: 1;
    padding: 10px;
}

.oddRow {
    background-color: rgb(245, 245, 245);
}

.evenRow {
    background-color: rgb(238, 238, 238);
}


.button-header {
    margin-bottom: 20px;
    display: flex;
}

#eval-quotes{
    justify-content: flex-start;
    margin-right: auto;
}

#get-quotes{
    justify-content: flex-end;
    margin-left: auto;
}

#problem-icon {
    width: 26px;
    height: 26px;
}

#approved-icon {
    width: 26px;
    height: 26px;
}

#accept {
    color: greenyellow;
    font-size: 50px;
}

#reject {
    color: crimson;
    font-size: 50px;
}

#description_title {
    color: gray;
}

#description_value {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
}

.cardEvaluation{
    display: flex;
}

.cardEvaluation #status {
    width: 30%;
    height: auto;
}

.progress{
    margin-top: 40px;
}

#statistics {
    flex: 1;
    display: flex;
    justify-content: center;
}

#statistics > div {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: ghostwhite;
    width: 300px;
    height: 150px;
}

.stat #title {
    text-align: center;
    border-bottom: 2px solid rgb(238, 238, 238);
    font-weight: bold;
    height: 60px;
    font-size: 25px;
}

.stat #value {
    text-align: center;
    margin: 30 30 0 30;
    font-weight: 1000;
    font-size: 40px;
}
