.header-button {
    margin-bottom: 20px;
}

#problem-icon {
    width: 26px;
    height: 26px;
}

#approved-icon {
    width: 26px;
    height: 26px;
}

#accept {
    color: greenyellow;
}

#reject {
    color: crimson;
}
